.button {
  display: block;

  width: 100%;
  max-width: 200px;
  height: 48px;

  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    height: 40px;
    font-size: 12px;
  }
}

.primary {
  color: var(--color-white);
  background-color: var(--color-dark-primary);
  transition: var(--transition);

  &:hover {
    background-color: var(--color-dark-accent);
  }

  &[disabled] {
    opacity: 0.5;
    cursor: default;

    &:hover {
      background-color: var(--color-dark-primary);
    }
  }
}
